<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="arma_launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="arma_launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <arma_launcher.Properties.Settings>
            <setting name="TaskForcePluginUrl" serializeAs="String">
                <value>https://github.com/michail-nikolaev/task-force-arma-3-radio/releases/download/0.9.12/task_force_radio.ts3_plugin</value>
            </setting>
            <setting name="BMRefreshTime" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="TeamSpeakUrl" serializeAs="String">
                <value>https://files.teamspeak-services.com/releases/client/3.5.3/TeamSpeak3-Client-win64-3.5.3.exe</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ru</value>
            </setting>
            <setting name="BMToken" serializeAs="String">
                <value />
            </setting>
            <setting name="BMServerId" serializeAs="String">
                <value />
            </setting>
        </arma_launcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <arma_launcher.Properties.Settings>
            <setting name="A3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="A3ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFolder" serializeAs="String">
                <value>arma_launcher</value>
            </setting>
            <setting name="NoSplashFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkipIntroFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoLogsFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableHTFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HugePagesFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="A3WorkshopMods" serializeAs="String">
                <value />
            </setting>
            <setting name="A3Mods" serializeAs="String">
                <value />
            </setting>
            <setting name="TeamSpeakAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpUri" serializeAs="String">
                <value />
            </setting>
        </arma_launcher.Properties.Settings>
    </userSettings>
</configuration>