<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arma_launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arma_launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <arma_launcher.Properties.Settings>
            <setting name="FtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="FtpPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
        </arma_launcher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <arma_launcher.Properties.Settings>
            <setting name="A3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="A3ModsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalFolder" serializeAs="String">
                <value>arma-launcher</value>
            </setting>
            <setting name="A3WorkshopMods" serializeAs="String">
                <value />
            </setting>
            <setting name="A3Mods" serializeAs="String">
                <value />
            </setting>
        </arma_launcher.Properties.Settings>
    </userSettings>
</configuration>